body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://i.imgur.com/60rRU9P.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.header {
  list-style: none;
  padding: 0px;
  background-color: rgba(71, 71, 71, 0.384);
  width: 100%;
  margin: auto;
  position: fixed;
  margin-top: 0px;
  text-align: center;
}
.header li a {
  text-decoration: none;
  color: white;
  padding: 20px;
  display: block;
  float: left;
}
.header li {
  display: inline-block;
  text-align: center;
}
.header li a:hover {
  background: rgba(25, 0, 255, 0.692);
}
.content {
  width: 80%;
  height: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.493);
}
/* Estilo tablas*/
.tabla1 {     font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    margin: auto;     width: 60%; text-align: left;    border-collapse: collapse; 
}
.tabla2 {     font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;    margin: auto;     width: 60%; text-align: left;    border-collapse: collapse; 
}
th {     font-size: 13px;     font-weight: normal;  text-align: center;   padding: 18px;     background: #6e6e6e;
    border-top: 0px solid #aabcfe;    border-bottom: 0px solid #fff; color: rgb(255, 255, 255); 
}
td {    padding: 18px; font-size: 23px; text-align: center;   background: #1d1d1d00;     border-bottom: 0px solid #000000;
    color: rgb(255, 255, 255);    border-top: 1px solid transparent; 
}
td:hover {
  background-color: rgba(71, 51, 253, 0.534);
}
