body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("https://i.imgur.com/60rRU9P.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.sidebar {
  list-style: none;
  padding: 0px;
  background-color: rgb(37, 37, 37);
  width: 12%;
  position: fixed;
  margin-top: 200px;
}
.sidebar td a {
  text-decoration: none;
  color: white;
  padding: 5px;
  display: block;
  font-size: 20px;
  text-align: center;
  float: center;
}
.content {
  width: 75%;
  height: 100%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.493);
}
/* Estilo tablas*/
.tabla1 {     font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;    margin: auto;     width: 60%; text-align: left;    border-collapse: collapse; 
}
.tabla2 {     font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;    margin: auto;     width: 60%; text-align: left;    border-collapse: collapse; 
}
th {     font-size: 20px;   font-weight: normal;  text-align: center;   padding: 18px;     background: #6e6e6e;
    border-top: 0px solid #aabcfe;    border-bottom: 0px solid #fff; color: rgb(255, 255, 255); 
}
td {   padding: 18px; font-size: 23px; text-align: center;  fill: white; stroke: black; stroke-width: 1px;  font-weight: bold; font-family: verdana;  background: #1d1d1d00;     border-bottom: 0px solid #000000;
    color: rgb(255, 255, 255);    border-top: 1px solid transparent; 
}
td:hover {
  background-color: rgba(189, 3, 3, 0.692);
}