.body {
        font-family: Arial, Helvetica, sans-serif;
      }
      .header {
        list-style: none;
        padding: 0px;
        background-color: rgba(71, 71, 71, 0.384);
        width: 100%;
        margin: auto;
        position: fixed;
        margin-top: 0px;
        text-align: center;
      }
      .header li a {
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
        float: left;
      }
      .header li {
        display: inline-block;
        text-align: center;
      }
      .header li a:hover {
        background: rgb(219, 35, 35);
      }
      .content {
        width: 100%;
        height: 100%;
        background-image: url(https://i.imgur.com/XiRqd4d.png);
        float: left;
      }